<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>404</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="js/jquery-2.1.1.min.js"></script> 
<!--icons-css-->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!--Google Fonts-->
	<!--scrolling js-->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!--//scrolling js-->
<script src="js/bootstrap.js"> </script>
<!--//skycons-icons-->
</head>
<body>	
<div class="page-container">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
		   <div class="header-main">
			   <div class="header-left">
				   <div class="logo-name">
					   <a href="index.html"> <h1>小米商城后台</h1>
						   <!--<img id="logo" src="" alt="Logo"/>-->
					   </a>
				   </div>
				   <!--search-box-->
				   <div class="clearfix"> </div>
			   </div>
			   <!--notification menu end -->
			   <div class="profile_details">
				   <ul>
					   <li class="dropdown profile_details_drop">
						   <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							   <div class="profile_img">
								   <span class="prfil-img"><img src="images/p1.png" alt=""> </span><!--管理员图片-->
								   <div class="user-name">
									   <p>管理员名字</p>
									   <span>Administrator</span><!--管理员权限,如普通和高级-->
								   </div>
							   </div>
						   </a>

					   </li>
				   </ul>
			   </div>
			   <div class="clearfix"> </div>
		   </div>
<!--heder end here-->
<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
            $(".shan").click(function () {
                $("#id").html($(this).attr("id"));
            })
            $("#kaishishanchu").click(function () {
                var id=$("#id").html();
                alert(id);
                //window.location.href = "";
            })
		});
		</script>
	   </div>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block"><!-- 删除该代码修改其他数据-->
	<div id="id"  style="display:none;">0</div>
	<div id="shanchutishi" class="modal fade bs-example-modal-lg">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">警告!</h4>
				</div>
				<div class="media-body">
					<p>确认删除</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">关闭</button>
					<button id="kaishishanchu" class="btn btn-danger" data-dismiss="modal">删除</button>
				</div>
			</div>
		</div>
</div>
<!--inner block end here-->
<!--copy rights start here-->
		   <div class="copyrights" style="margin-top: 0px"><!-- 删除该代码修改其他数据-->
			   <from action="" method="post">
				   <h3>用户详情</h3>
				   <h5><a  class="btn btn-primary" style="margin-right:6px" href="yonhuxinzen.html">新增</a></h5>
				   <ul style="list-style: none;background-color: #bce8f1">
					   <li style="color: #750202;background-color: #fff157;">
						   <div style="border-top:1px solid #71ff5e;padding: 10px">
						   <span style="float: left;">用户名字&nbsp;&nbsp;电话:
						   <span>用户电话12345678901</span></span>&nbsp;
							   <div style="float: right;">
								   <a  class="btn btn-warning btn-xs" style="margin-right:6px" href="xg">修改</a>
								   <a id="123" class="shan btn btn-danger btn-xs btn btn-primary"
									  href="#shanchutishi" data-toggle="modal">删除</a>
							   </div>
						   </div>
					   </li>
				   </ul><br>
				   <DIV style="float: left;">请输入查询的内容
					  <input class="btn btn-warning btn-xs"  name="">
					   <span><input  class="btn btn-warning btn-xs" type="submit" value="查询"></span>
				   </DIV>
				   <DIV style="float: right;margin-top: -20px"><span th:text="${page.getPageNum()}">页数</span>
					   <A class="btn btn-primary" th:href="@{'http://localhost:8080/topianxitong/votelist?ye=1'+'&yid='+${yid}}">首页</A>
					   <a class="btn btn-primary" th:href="@{'http://localhost:8080/topianxitong/votelist?ye='+${page.getPageNum()-1}+'&yid='+${yid}}">
						   上一页
					   </a>
					   <a class="btn btn-primary" th:href="@{'http://localhost:8080/topianxitong/votelist?ye='+${page.getPageNum()+1}+'&yid='+${yid}}">下一页</a>
					   <A class="btn btn-primary" th:href="@{'http://localhost:8080/topianxitong/votelist?ye='+${page.getPages()}+'&yid='+${yid}}">末页</A>
				   </DIV>
			   </from>
		   </div>
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
	<div class="sidebar-menu">
		<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span>
			<!--<img id="logo" src="" alt="Logo"/>-->
		</a> </div>
		<div class="menu">
			<ul id="menu" >
				<li id="menu-home" ><a href="index.html"><i class="fa fa-tachometer"></i><span>首页</span></a></li>
				<li><a href="dindan.html"><i class="fa fa-bar-chart"></i><span>订单表</span></a></li>
				<li><a href="jiedao.html"><i class="fa fa-bar-chart"></i><span>街道表</span></a></li>
				<li><a href="yonhu.html"><i class="fa fa-bar-chart"></i><span>用户表</span></a></li>
				<li><a href="guanliyuan.html"><i class="fa fa-bar-chart"></i><span>管理员表</span></a></li>
				<li><a href="yohueijuan.html"><i class="fa fa-bar-chart"></i><span>优惠券表</span></a></li>
				<li><a href="shangpin.html"><i class="fa fa-book nav_icon"></i><span>商品表</span>
					<span class="fa fa-angle-right" style="float: right"></span></a>
					<ul>
						<li><a href="jiajeguanli.html">价格管理</a></li>
						<li><a href="shangpinfenlei.html">商品分类</a></li>
					</ul>
				</li>
				<li><a href="404.html"><i class="fa fa-bar-chart"></i><span>404模板表</span></a></li>

			</ul>
		</div>
	</div>
	<div class="clearfix"> </div>
</div>
<!--slide bar menu end here-->
<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
<!-- mother grid end here-->
</body>
</html>


                      
						
